In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [5]:
orders_df = pd.read_csv("orders.csv")
orders_df.sample(5)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
137173,1898663,8248,prior,15,5,17,0.0
201932,891072,12205,prior,65,3,16,3.0
2905129,216021,175294,prior,31,1,11,3.0
1287074,2990356,77380,prior,16,3,10,6.0
2459440,3210848,148024,prior,99,4,16,3.0

In [4]:
main_df = pd.read_csv("order_products__prior.csv")
main_df.sample(5)

          order_id  product_id  add_to_cart_order  reordered
11818360   1247700        8859                  4          1
6860202     724148       29553                 12          1
14004371   1477949       15040                  2          1
32154953   3391705       16489                 11          1
13781377   1454503       43704                 19          1